.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  width: 70rem;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
}

.left-section {
  width: 37rem;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
}
.left-section > span {
  font-size: 1.6rem;
}

.attendance, .list, .excel {
  cursor: pointer;
  transition: opacity 0.15s;
}
.attendance:hover, .list:hover, .excel:hover {
  opacity: 1;
}

.attendance, .list, .excel {
  opacity: .5;
}

.active-page {
  opacity: 1;
}


.right-section {
  cursor: pointer;
}

