/* input container */
.input-container {
  display: flex;
  border: solid white;
  justify-content: space-between;
}

.input-container > button {
  border: none;
  font-family: "JetBrains Mono";
  font-size: 1.5rem;
  padding: .5rem 1.2rem;
  cursor: pointer;
  border-radius: 2px;
}


.input-container > .enter-button {
  background-color: #F1EDE9;
  color: #0E0A07;
}
.input-container > button {
  background-color: #DC8F41;
  color: #0E0A07;
}