.header-container {
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  width: 70rem;
  justify-content: left;
  padding-top: 2rem;
  padding-left: 7rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
}

@media (max-height: 780px) {
  .header {
    padding-top: 1rem; 
    padding-bottom: 1rem;
  }
}


.pages > span {
  font-size: 1.6rem;
  margin-right: 5rem;
}

.attendance, .download-list {
  cursor: pointer;
  opacity: .5;
  transition: opacity 0.15s;
}
.attendance:hover, .download-list:hover {
  opacity: 1;
}

.active-page {
  opacity: 1;
}

@media (max-height: 780px) {
  .header {
    padding-top: 1rem; 
    padding-bottom: 1rem;
  }
  .header > .pages > span {
    font-size: 1.4rem;
  }
}


