/* body */
.body-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.body-container > .body {
  width: 60rem;
  height: 35rem;
}


/* table */
.table-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  max-height: 27rem; 
}

.table {
  display: table;
  width: 50rem;
  border: none;
  border-spacing: 0rem 1rem;
}

.table th {
  position: sticky;
}

.table td {
  padding: 1rem 1.3rem;
}

.column-names {
  font-size: 1.5rem;
  background-color: #0E0A07;
  font-weight: normal;
}



.body > button {
  margin-top: 5rem;
}


