/* body */
.body-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items : center;
}
.body-container > .body {
  width: 60rem;
  height: 35rem;
}


/* table */
.table-container {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

.table {
  display: block;
  width: 90%;
  height: 25rem;
  overflow-y: scroll;
  padding-right: 1rem;
}
.table > .column-names {
  padding: 1.2rem 4%;
  font-size: 1.5rem;
  display: flex;
  background-color: #0E0A07;
  justify-content: space-between;
  font-weight: normal;
  position: sticky;
  top: 0;
}


.body > button {
  margin-top: 5rem;
}


