/* body */
.body-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.body-container > .body {
  width: 60rem;
  height: 35rem;
}



/* table */
.table-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  max-height: 27rem; 
  stroke-width: none;
}

.table {
  display: table;
  width: 50rem;
  border: none;
  border-spacing: 0rem 1rem;
 
}

.table th {
  position: sticky;
  white-space: nowrap;
  text-align: center;
}


.table td, .table th {
  text-align: center;
  padding-left: 2rem;
}
.table td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  white-space: nowrap;
}



.column-names {
  padding-top: 0;
  font-size: 1.5rem;
  background-color: #0E0A07;
  font-weight: normal;
}



.body > button {
  margin-top: 5rem;
}

.footer {
  margin-top: 3rem;
  display: flex;
  width: 60rem;
  position: relative;
  justify-content: center;
}

.arrows {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.left-arrow-active, .right-arrow-active {
  opacity: 0.5;
}
.left-arrow, .right-arrow {
  cursor: pointer;
  transition: opacity 0.15s;
}
.left-arrow:hover, .right-arrow:hover {
  opacity: 0.5;
}

.delete-all-button {
  position: absolute;
  right: 0;
}



@media (max-height: 780px) { /* Only apply styles when screen height is below 780px */
  .body-container {
    margin-top: 0;
    
  }
  .table-container {
    margin-top: 1rem;
    max-height: 21rem;
  }
  .column-names {
    font-size: 1.3rem;
  }
  .table td {
    padding-top: .8rem;
    padding-bottom: .8rem;
  }
  .footer {
    margin-top: 1rem;
  }
  .left-arrow, .left-arrow-active, .right-arrow, .right-arrow-active {
    height: 2.5rem;
  }
 
}
